<h1 class="h1"><%= t(".heading") %></h1>

<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>

<%= form_with url: passwords_path do |form| %>
  <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: t("forms.placeholders.email_address"), value: params[:email_address] %><br>
  <%= form.submit t("forms.buttons.email_reset_instructions") %>
<% end %>
