<div class="item-card">
  <div class="item-form">
    <% if item.errors.any? %>
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
        <% item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <%= form_with model: item do |form| %>
      <div class="form-field">
        <%= form.label :name %>
        <%= form.text_field :name, required: true %>
      </div>
      <div class="form-field">
        <%= form.label :note %>
        <%= form.text_area :note %>
      </div>
      <div class="form-field">
        <%= form.label :category_id %>
        <%= form.select :category_id, options_from_collection_for_select(@categories, :id, :name, item.category_id), { prompt: "Select a category" }, { required: true } %>
      </div>
      <div class="form-field">
        <%= form.label :location_id %>
        <%= form.select :location_id, options_from_collection_for_select(@locations, :id, :name, item.location_id), { prompt: "Select a location" }, { required: true } %>
      </div>
      <div class="form-field">
        <%= form.label :purchase_value_cents %>
        <%= form.number_field :purchase_value_cents %>
      </div>
      <div class="form-field">
        <%= form.label :current_value_cents %>
        <%= form.number_field :current_value_cents %>
      </div>
      <div class="form-field">
        <%= form.label :acquired_on %>
        <%= form.date_field :acquired_on %>
      </div>
      <div class="form-field">
        <%= form.label :discarded_on %>
        <%= form.date_field :discarded_on %>
      </div>
      <div class="form-field">
        <%= form.label :last_seen_on %>
        <%= form.date_field :last_seen_on %>
      </div>
      <div class="form-field">
        <%= form.label :expected_uses %>
        <%= form.number_field :expected_uses %>
      </div>
      <div class="item-actions">
        <%= link_to t("actions.cancel"), items_path, class: "btn-cancel" %>
        <%= submit_tag t("actions.save"), class: "btn-icon btn-save", title: t("actions.save") %>
      </div>
    <% end %>
  </div>
</div>
