<%= turbo_frame_tag item do %>
  <article>
    <h3><%= item.name %></h3>
    <% if item.note.present? %>
      <p><%= item.note %></p>
    <% end %>
    <div class="item-details">
      <span class="location"><%= item.location.name %></span>
      <% if item.location.storage? %>
        <span class="storage-indicator">📦</span>
      <% end %>
    </div>
    <footer>
      <%= link_to t("actions.edit"), edit_item_path(item) %>
    </footer>
  </article>
<% end %>
