<main>
  <h1 class="h1">
    <% if action_name == "discarded" %>
      <%= t(".discarded_items") %>
    <% elsif action_name == "located" %>
      <%= @location.name %>
    <% else %>
      <%= t(".items") %>
    <% end %>
  </h1>
  <%= turbo_frame_tag "items" do %>
    <% @items_by_category.each do |category, items| %>
      <section class="category-section">
        <h2 class="category-heading"><%= category.name %></h2>
        <%= render partial: "item", collection: items %>
      </section>
    <% end %>
  <% end %>
  <%= turbo_frame_tag "new_item", target: "_top" do %>
    <%= add_button(label: t(".new_item"), turbo_frame: "new_item", path: new_item_path) %>
  <% end %>
  <nav class="items-navigation">
    <% if action_name == "discarded" %>
      <%= link_to t(".show_current_items"), items_path %>
    <% else %>
      <%= link_to t(".show_discarded_items"), discarded_items_path %>
    <% end %>
  </nav>
</main>
