<div class="location-card">
  <div class="location-form">
    <% if location.errors.any? %>
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>
      <ul>
        <% location.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <%= form_with model: location do |form| %>
      <div class="form-field">
        <%= form.label :name %>
        <%= form.text_field :name, required: true %>
      </div>
      <div class="form-field">
        <%= form.check_box :storage %>
        <%= form.label :storage, "Storage location" %>
      </div>
      <div class="location-actions">
        <%= link_to t("actions.cancel"), locations_path, class: "btn-cancel" %>
        <%= submit_tag t("actions.save"), class: "btn-icon btn-save", title: t("actions.save") %>
      </div>
    <% end %>
  </div>
</div>