<main>
  <h1 class="h1"><%= t(".locations") %></h1>
  <%= turbo_frame_tag "locations" do %>
    <%= render partial: "location", collection: @locations %>
  <% end %>
  <%= turbo_frame_tag "new_location", target: "_top" do %>
    <%= add_button(label: t(".new_location"), turbo_frame: "new_location", path: new_location_path) %>
  <% end %>
</main>
