<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "Sackpack" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= tag.div(flash[:alert], class: "flash-alert", role: "alert") if flash[:alert] %>
    <%= tag.div(flash[:notice], style: "flash-notice", role: "alert") if flash[:notice] %>

    <header>
      <nav aria-label="<%= t(".account_navigation") %>" class="app-nav">
        <ul>
          <% if authenticated? %>
            <li><%= link_to t(".sign_out"), session_path, data: { "turbo-method": :delete } %></li>
          <% else %>
            <li><%= link_to t(".sign_in"), new_session_path %></li>
            <li><%= link_to t(".create_account"), new_account_path %></li>
          <% end %>
        </ul>
      </nav>
      <% if authenticated? %>
        <nav aria-label="<%= t(".app_navigation") %>" class="app-nav">
          <ul>
            <li><%= link_to t(".categories"), categories_path %></li>
            <li><%= link_to t(".locations"), locations_path %></li>
            <li><%= link_to t(".items"), items_path %></li>
          </ul>
        </nav>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
